---
extends: default
rules:
  document-start: disable
  line-length: disable  # Public SSH keys and package URLs are intentionally long.
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
ignore: |
  .git/
  .ansible/
  .cache/
  patch/
  group_vars/devhosts/vault.yml
